<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCSvwaC14G47-kX3nhjiWfmRjbOsBcunuU</string>
	<key>GCM_SENDER_ID</key>
	<string>726924384063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dbfirebaseproj4Demochatapp</string>
	<key>PROJECT_ID</key>
	<string>mybookapp-3301b</string>
	<key>STORAGE_BUCKET</key>
	<string>mybookapp-3301b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726924384063:ios:b7fa39ffe129453993258a</string>
</dict>
</plist>