<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCVuKWeSxwWmkPx6sZtG8m88987kZeGuE0</string>
	<key>GCM_SENDER_ID</key>
	<string>727811364121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dbfirebaseproj2Images</string>
	<key>PROJECT_ID</key>
	<string>fir-pro3-5f558</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-pro3-5f558.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727811364121:ios:f7f78a9d79ad9bf434e188</string>
</dict>
</plist>