<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDeUSqFIlF4sLbFJm2ifKx3z6s6359RLnM</string>
	<key>GCM_SENDER_ID</key>
	<string>223550122840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firestoreCruddemo</string>
	<key>PROJECT_ID</key>
	<string>demofirestorecrud-8b869</string>
	<key>STORAGE_BUCKET</key>
	<string>demofirestorecrud-8b869.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:223550122840:ios:f26f125f50f5c22cee532d</string>
</dict>
</plist>